<%- include('head.ejs') %>


<body oncontextmenu="return false";>
    <div>
        <div class="overflow-x-hidden">
    
        <!-- NAVBAR -->
        <%- include('navbar.ejs') %> 
    
        <!--HEADER (Path)-->
        <div class="flex flex-col mt-20  md:flex-row md:justify-between">
            <div class="flex ml-3 mt-3 items-center">
              <span>
                <svg class="w-4 h-4 mt-1 mr-2 fill-current" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
                </svg>
              </span>
              <a href="/" class="text-xl font-medium text-blue-700 cursor-pointer hover:underline">PVG</a>
              <span class="mx-1 text-xl font-medium">/</span>
              <div class="text-xl font-semibold text-blue-700 cursor-pointer hover:underline"> Case Studies </div>
            </div>
          </div>
          
          <div class="flex items-center justify-between px-10 mt-6 -mx-10 border-b select-none md:mt-4">
        </div>
    
    
        <div class="container pb-1 mx-auto mt-4">
            <!-- MAIN CONTENT-->
            <div class="md:flex">
              <div class="w-full mr-4 md:w-3/4 glass-bg ">
                
<div class="p-3 font-normal pt-4">

                  <!-- Header Row -->
                  <div class="font-main flex justify-between items-center mt-3 ml-3">
                    <p style="font-size: 32px;" class="font-light">Case Studies & Work</p>
                   <!--  <a href="/about" class="underline text-blue-600" style="font-size: 32px;">Visit About Page</a> -->
                  </div>

                  <!-- Bottom Border -->
                  <th class="rounded-t-xl">
                    <div class="lg:flex hidden items-center justify-between mb-2 -mr-5 lg:mr-0 border-b select-none"></div>
                  </th>


<div class="flex mb-10"> 
<p class="text-sms font-normal mx-3 mt-2">
    The content below are case studies and samples embedded from my Behance portfolio and highlight my UX/UI design and Web Development process, from research and wireframing to high-fidelity prototypes and final solutions.
</p>
</div>

 <!-- Header Divider -->
  <div class="border-b border-gray-300"></div>

  <!-- “Who I’ve Worked With” Section -->
  <div class="content flex -mt-1">
        <div style="font-size: 32px;" class="font-light font-main ml-4 mt-2"> La Wash Laundromats: </div>
</div>


  <div class="border-b border-gray-300"></div>

  <div class="flex mb-2"> 
<p class="text-sms font-normal mx-3 ml-4 mt-2">
   Web development and design project for La Wash, a laundromat chain based in Mexico. The project focused on creating a clear and accessible website that helps customers quickly find service information, pricing, and nearby locations through a user-centered design process.
</p>
</div>

  <div class="flex mb-2 ml-3"> 
<p class="text-sms font-normal mx-3 ml-4 mt-2">
   <span class="font-semibold"> Dev Stack: </span> HTML, Tailwind CSS, JavaScript, Node.js, Next.js, REST APIs, MongoDB
</p>
</div>
  <div class="flex mb-2 ml-3"> 
<p class="text-sms font-normal mx-3 ml-4 mt-2">
   <span class="font-semibold"> Design: </span> Figma, Adobe Photoshop
</p>
</div>
  <div class="flex mb-2 ml-3"> 
<p class="text-sms font-normal mx-3 ml-4 mt-2">
   <span class="font-semibold"> Analytics/SEO: </span> Google Analytics, Google Search Console, Google Business Profile
</p>
</div>

  <div class="flex mb-2 ml-3"> 
<a href="https://www.lawashlavanderias.com/" target="_blank" rel="noopener noreferrer" class="text-sms font-normal flex mx-3 ml-4 mt-2 underline text-blue-800">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-globe mt-2 mr-2" viewBox="0 0 16 16">
  <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855A8 8 0 0 0 5.145 4H7.5zM4.09 4a9.3 9.3 0 0 1 .64-1.539 7 7 0 0 1 .597-.933A7.03 7.03 0 0 0 2.255 4zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a7 7 0 0 0-.656 2.5zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5zM8.5 5v2.5h2.99a12.5 12.5 0 0 0-.337-2.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5zM5.145 12q.208.58.468 1.068c.552 1.035 1.218 1.65 1.887 1.855V12zm.182 2.472a7 7 0 0 1-.597-.933A9.3 9.3 0 0 1 4.09 12H2.255a7 7 0 0 0 3.072 2.472M3.82 11a13.7 13.7 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5zm6.853 3.472A7 7 0 0 0 13.745 12H11.91a9.3 9.3 0 0 1-.64 1.539 7 7 0 0 1-.597.933M8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855q.26-.487.468-1.068zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.7 13.7 0 0 1-.312 2.5m2.802-3.5a7 7 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7 7 0 0 0-3.072-2.472c.218.284.418.598.597.933M10.855 4a8 8 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4z"/>
</svg>
   https://www.lawashlavanderias.com/
</a>
</div>
  <div class="flex mb-10 ml-3"> 
<a href="https://github.com/valdesgp/lawash-public-version" target="_blank" rel="noopener noreferrer" class="text-sms font-normal flex mx-3 ml-4 mt-2 underline text-blue-800">
  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-github mt-2 mr-2" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
</svg>
  Github Repository
</a>
</div>
  
<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/245085291?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>


<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/246780609?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>

<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/246711005?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>

 <!-- Header Divider -->
  <div class="border-b border-gray-300 mt-6"></div>

  <!-- “Who I’ve Worked With” Section -->
  <div class="content flex -mt-1">
        <div style="font-size: 32px;" class="font-light font-main ml-4 mt-2"> Art Gallery E-Commerce: </div>
</div>

  <div class="border-b border-gray-300"></div>

  <div class="flex mb-2"> 
<p class="text-sms font-normal mx-3 ml-4 mt-2">
    E-commerce web development and design project for Entre Maderas y Arte, an art gallery and furniture store based in Mexico. The project focused on creating a scalable, mobile-first e-commerce site that helps users easily browse artwork and curated furniture, discover products by type or artist, and complete purchases through a seamless, user-centered experience. 
</p>
</div>

  <div class="flex mb-10"> 
<a href="https://entremaderasyarte.com/" target="_blank" rel="noopener noreferrer" class="text-sms font-normal flex mx-3 ml-4 mt-2 underline text-blue-800">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-globe mt-2 mr-2" viewBox="0 0 16 16">
  <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855A8 8 0 0 0 5.145 4H7.5zM4.09 4a9.3 9.3 0 0 1 .64-1.539 7 7 0 0 1 .597-.933A7.03 7.03 0 0 0 2.255 4zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a7 7 0 0 0-.656 2.5zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5zM8.5 5v2.5h2.99a12.5 12.5 0 0 0-.337-2.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5zM5.145 12q.208.58.468 1.068c.552 1.035 1.218 1.65 1.887 1.855V12zm.182 2.472a7 7 0 0 1-.597-.933A9.3 9.3 0 0 1 4.09 12H2.255a7 7 0 0 0 3.072 2.472M3.82 11a13.7 13.7 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5zm6.853 3.472A7 7 0 0 0 13.745 12H11.91a9.3 9.3 0 0 1-.64 1.539 7 7 0 0 1-.597.933M8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855q.26-.487.468-1.068zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.7 13.7 0 0 1-.312 2.5m2.802-3.5a7 7 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7 7 0 0 0-3.072-2.472c.218.284.418.598.597.933M10.855 4a8 8 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4z"/>
</svg>
   https://entremaderasyarte.com/
</a>
</div>

<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/246162081?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>

<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/246716015?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>

<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/246712215?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>
  
 <!-- Header Divider -->
  <div class="border-b border-gray-300 mt-6"></div>

  <!-- “Who I’ve Worked With” Section -->
  <div class="content flex -mt-1">
        <div style="font-size: 32px;" class="font-light font-main ml-4 mt-2"> Chess 360 Mobile App UI Design: </div>
</div>

  <div class="border-b border-gray-300"></div>

<div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/247265493?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>

 <!-- Header Divider -->
  <div class="border-b border-gray-300 mt-6"></div>

  <!-- “Who I’ve Worked With” Section -->
  <div class="content flex -mt-1">
        <div style="font-size: 32px;" class="font-light font-main ml-4 mt-2"> Zorali Product Landing Page UI Design: </div>
</div>

  <div class="border-b border-gray-300"></div>

  <div class="flex justify-center mt-5">
  <iframe 
    src="https://www.behance.net/embed/project/247391277?ilo0=1"
    width="804"
    height="616"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    allow="clipboard-write"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>
  
</div>

              </div>
    
            <!--SIDE BAR // ABOUT-->
            <div class="ml-4 md:w-1/4">
              <div class="hidden md:block glass-bg ">
                  <%- include('sidebar.ejs') %>
                </div>
              </div>
    
              </div>
            </div>
    
        <!--Footer (Path) -->
        <%- include('footer.ejs') %>
        </div>
    </div>


    
    </body>