<!doctype html>
<html>
<head>
<title>YEGAX</title>
<meta name="description" content="A3">
<meta name="keywords" content="A3">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/assets/tailwind.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/local_style.css" />


</head>

<body oncontextmenu="return false";>
<div>
    <div class="overflow-x-hidden">

    <!-- NAVBAR -->
    <%- include('navbar.ejs') %> 

    <!--HEADER (Path)-->
    <div class="flex flex-col md:flex-row md:justify-between">
        <div class="flex ml-3 mt-3 items-center">
          <span>
            <svg class="w-4 h-4 mt-1 mr-2 fill-current" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
            </svg>
          </span>
          <a href="/" class="text-xl font-medium text-blue-700 cursor-pointer hover:underline">PVG</a>
          <span class="mx-1 text-xl font-medium">/</span>
          <div class="text-xl font-semibold text-blue-700 cursor-pointer hover:underline"> Contact </div>
        </div>
      </div>
      
      <div class="flex items-center justify-between px-10 mt-6 -mx-10 border-b select-none md:mt-4">
    </div>


    <div class="container pb-1 mx-auto mt-4">
        <!-- MAIN CONTENT-->
        <div class="md:flex">
          <div class="w-full mr-4 md:w-3/4 glass-bg ">
            <div class="py-2 border-b md:border md:rounded-lg md:px-8">
               
                <div class="content flex py-1">
                    <div class="font-semibold text-4xl -my-1 ml-1"> Contact:</div>
                  </div>

                <div class="my-2">
                  <hr>
                </div>
                
                <form action="https://api.web3forms.com/submit" method="POST">
                  <input type="hidden" name="access_key" value="04401235-5250-464d-bf29-9d938d309924">
              
                  <p class="text-left mb-1">Name: </p>
                  <input class="p-2 rounded-md border-solid border-2 " type="text" name="email" placeholder="Name" required>

                  <p class="text-left mt-2 mb-1">Email: </p>
                  <input class="p-2 rounded-md border-solid border-2 " type="email" name="email" placeholder="Email Address" required>

                  <p class="text-left mt-2 mb-1"> Message:</p>
                  <textarea class="p-2 pb-10 rounded-md border-solid border-2 resize-none" name="message" placeholder="Your Message..." required></textarea>
                  <input type="hidden" name="redirect" value="https://web3forms.com/success">
                  <br>
                  <button class="submitform" type="submit">Submit Form</button>
              
              </form>
                
              </div>
          </div>

        <!--SIDE BAR // ABOUT-->
        <div class="ml-4 md:w-1/4">
          <div class="hidden md:block glass-bg ">
              <%- include('sidebar.ejs') %>
            </div>
          </div>

          </div>
        </div>

    <!--Footer (Path) -->
    <%- include('footer.ejs') %>
    </div>
</div>
</body>
</html>