<!doctype html>
<html>
<head>

<meta name="description" content="Web Portfolio of Front-End Developer Patricio Valdes Garcia">
<meta name="keywords" content="A3">

<!-- START - SEO  -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PVG - Web Portfolio</title>
<meta name="description" content="Patricio is a web developer and designer specializing in responsive websites, business functionality, and user experience. Passionate about creating seamless, engaging experiences that drive user satisfaction and business success. Let's work together to bring your ideas to life.">
<meta name="keywords" content="frontend developer, UI/UX designer, web design, responsive websites, user experience, seamless web experiences, business functionality, intuitive websites, web development, SEO, Google Analytics KPI">
<meta name="author" content="Patricio Valdes Garcia">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Patricio Valdes Garcia - Frontend Developer & UI/UX Designer">
<meta property="og:description" content="Patricio is a frontend developer and UI/UX designer specializing in responsive web design and seamless user experiences, creating intuitive websites that blend design with performance.">
<!-- START - Missing URLs -->
<meta property="og:image" content="URL_TO_IMAGE">
<meta property="og:url" content="https://www.valdesgpatricio.com">
<meta name="twitter:image" content="URL_TO_IMAGE">
<!-- END -->
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Patricio Valdes Garcia- Frontend Developer & UI/UX Designer">
<meta name="twitter:description" content="Patricio is a frontend developer and UI/UX designer specializing in responsive web design and seamless user experiences, creating intuitive websites that blend design with performance.">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<!-- END- SEO  -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/assets/tailwind.css"/>
<link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/local_style.css"/>

    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FW2GL10F4C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FW2GL10F4C');
</script>