<!doctype html>
<html>
<head>
<title>PVG - UX/UI Designer</title>
<meta name="description" content="PVG - UX/UI Designer">
<meta name="keywords" content="PVG - UX/UI Designer">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/assets/tailwind.css"/>
<link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/local_style.css"/>

    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />

</head>