<%- include('head.ejs') %>


<body oncontextmenu="return false";>
    <div>
        <div class="overflow-x-hidden">
    
        <!-- NAVBAR -->
        <%- include('navbar.ejs') %> 
    
        <!--HEADER (Path)-->
        <div class="flex flex-col mt-20  md:flex-row md:justify-between">
            <div class="flex ml-3 mt-3 items-center">
              <span>
                <svg class="w-4 h-4 mt-1 mr-2 fill-current" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
                </svg>
              </span>
              <a href="/" class="text-xl font-medium text-blue-700 cursor-pointer hover:underline">PVG</a>
              <span class="mx-1 text-xl font-medium">/</span>
              <div class="text-xl font-semibold text-blue-700 cursor-pointer hover:underline"> Home </div>
            </div>
          </div>
          
          <div class="flex items-center justify-between px-10 mt-6 -mx-10 border-b select-none md:mt-4">
        </div>
    
    
        <div class="container pb-1 mx-auto mt-4">
            <!-- MAIN CONTENT-->
            <div class="md:flex">
              <div class="w-full mr-4 lg:w-3/4 md:w-full glass-bg ">
              <div class="font-main mb-2">
                <div class="container-bulb">
               <!-- Profile Picture Container -->
                 <th class="profile-pic-container mt-2 mx-auto">
                   <img style="width: 170px;" src="/public/imgs/profile-illustration.png" alt="profile image" class="profile-pic mx-auto">
                </th>
                </div>
                  <p style="font-size: 42px;" class="homepage-text-b">
                     Hi, I’m Patricio 👋
                  </p>
                  <p style="font-size: 22px;" class="font- homepage-text-b">
                    Here you can find some of my work!
                 </p>
    
                  <p class="text-sms float-right mr-8 mt-4">
                      <b></b>
                  </p>
                  </div>
                </div>
    
            <!--SIDE BAR // ABOUT-->
            <div class="ml-4 lg:w-1/4">
              <div class="hidden lg:block glass-bg ">
                  <%- include('sidebar.ejs') %>
                </div>
              </div>
    
              </div>
            </div>
    
        <!--Footer (Path) -->
        <%- include('footer.ejs') %>
        </div>
    </div>


    <a href="/contact">
      <div  id="msg-btn"class="message-button sm:hidden md:hidden lg:block hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" fill="currentColor" class="cursor-pointer bi bi-chat-dots-fill -my-1.5 -mx-1" viewBox="0 0 16 16">
            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
      </div> 
    </a>
    </body>